name: Run Poster Generate

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - main
      - refactor

env:
  # please change to your own config.
  # this actions generate only this year
  # If you fork this please change the type to yours below
  TYPE: "leetcode, strava, github, wakatime" # support strava/gpx/ns/cichang/shanbay/duolingo/issue/leetcode/twitter/github/gitlab/kindle/bilibili/wakatime/dota2, Please change the 'pass' it to your own separated by commas
  ME: "Underwindfall"
  GITHUB_NAME: underwindfall
  GITHUB_EMAIL: 14819756+underwindfall@users.noreply.github.com

jobs:
  sync:
    name: Sync
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.6

      # from pdm
      - name: Set Variables
        id: set_variables
        run: |
          echo "::set-output name=PY::$(python -c 'import hashlib, sys;print(hashlib.sha256(sys.version.encode()+sys.executable.encode()).hexdigest())')"
          echo "::set-output name=PIP_CACHE::$(pip cache dir)"
      - name: Cache PIP
        uses: actions/cache@v2
        with:
          path: ${{ steps.set_variables.outputs.PIP_CACHE }}
          key: Ubuntu-pip-${{ steps.set_variables.outputs.PY }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        if: steps.pip-cache.outputs.cache-hit != 'true'
      
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y')"
      
      - name: Run sync nike running script
        if: contains(env.TYPE, 'nike')
        run: |
          python3 -m github_poster nike --nike_refresh_token "${{ secrets.NIKE_SECRET }}" --year ${{ steps.date.outputs.date }} --me "" --with-animation
      
      - name: Run sync strava script
        if: contains(env.TYPE, 'strava')
        run: |
          python3 -m github_poster strava --strava_client_id ${{ secrets.STRAVA_CLIENT_ID }} --strava_client_secret ${{ secrets.STRAVA_CLIENT_SECRET }} --strava_refresh_token ${{ secrets.STRAVA_CLIENT_REFRESH_TOKEN }} --me ${{ env.ME }} --year ${{ steps.date.outputs.date }} --with-animation 

      - name: Run sync github script
        if: contains(env.TYPE, 'github')
        run: |
          python3 -m github_poster github --github_user_name ${{env.GITHUB_NAME}} --me ${{ env.ME }} --with-animation --year 2019-${{ steps.date.outputs.date }}
      
      - name: Run sync wakatime script
        if: contains(env.TYPE, 'wakatime')
        run: |
          python3 -m github_poster wakatime --wakatime_key=${{secrets.WAKATIME_TOKEN}} --me ${{ env.ME }} --year 2020-${{ steps.date.outputs.date }}      

      - name: Run sync leetcode script
        if: contains(env.TYPE, 'leetcode')
        run: |
          python3 -m github_poster leetcode --leetcode_cookie "${{ secrets.LEETCODE_CN_COOKIE }}" --year 2020-${{ steps.date.outputs.date }} --cn --me ${{ env.ME }} --with-animation

      - name: Mv svg files to examples
        # only for me to show
        if: github.repository_owner == 'underwindfall'
        run: mv OUT_FOLDER/*.svg examples/

      - name: Push new svg posters
        run: |-
          git diff
          git config --global user.email "actions@users.noreply.github.com"
          git config --global user.name "README wall-e"
          git add -A
          git commit -m "Updated content" || exit 0
          git push
