name: Run Poster Generate

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - main
      - refactor

env:
  # please change to your own config.
  # this actions generate only this year
  # If you fork this please change the type to yours below
  TYPE: "leetcode, nike" # support strava/gpx/ns/cichang/shanbay/duolingo/issue/leetcode/twitter/github/gitlab/kindle/bilibili/wakatime/dota2, Please change the 'pass' it to your own separated by commas
  ME: "Underwindfall"
  GITHUB_NAME: underwindfall
  GITHUB_EMAIL: 14819756+underwindfall@users.noreply.github.com

jobs:
  sync:
    name: Sync
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.6

      # from pdm
      - name: Set Variables
        id: set_variables
        run: |
          echo "::set-output name=PY::$(python -c 'import hashlib, sys;print(hashlib.sha256(sys.version.encode()+sys.executable.encode()).hexdigest())')"
          echo "::set-output name=PIP_CACHE::$(pip cache dir)"
      - name: Cache PIP
        uses: actions/cache@v2
        with:
          path: ${{ steps.set_variables.outputs.PIP_CACHE }}
          key: Ubuntu-pip-${{ steps.set_variables.outputs.PY }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        if: steps.pip-cache.outputs.cache-hit != 'true'

      - name: Run sync leetcode script
        if: contains(env.TYPE, 'leetcode')
        run: |
          python3 -m github_poster leetcode --leetcode_cookie "${{ secrets.LEETCODE_CN_COOKIE }}" --year 2021 --cn --me ${{ env.ME }} --with-animation
      
      - name: Run sync nike running script
        if: contains(env.TYPE, 'nike')
        run: |
          python3 -m github_poster nike --nike_refresh_token "${{ secrets.NIKE_SECRET }}" --year 2021 --me "" --with-animation


      - name: Mv svg files to examples
        # only for me to show
        if: github.repository_owner == 'underwindfall'
        run: mv OUT_FOLDER/*.svg examples/

      - name: Push new svg posters
        uses: github-actions-x/commit@v2.6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "Make new poster"
          files: examples OUT_FOLDER
          rebase: "true"
          name: ${{ env.GITHUB_NAME }}
          email: ${{ env.GITHUB_EMAIL }}
